body {
    background-image: url("/bj-bg.jpg");
    color: #d20202;
    font-family: sans-serif;
}

.App {
    text-align: center;
    padding: 20px;
}


ul {
    list-style-type: none;
    padding: 0;
}

.buttons {
    display: flex;
    /* Use flexbox for row layout */
    justify-content: center;
    /* Center the buttons */
    gap: 10px;
    /* Add spacing between buttons */
    margin-top: 20px;
}

button {

    background-color: #d20202;
    color: #120606;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-image: none;
    /* Remove the background image */
    background-color: transparent;
    /* Make the background transparent */
    color: #d20202;
    /* Keep the text color the same */
}


.winner-message {
    color: #f6f4f4;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ma {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h2,
p {
    color: #120606;
}

.playerside {
    padding: 2%;
    background-color: #d20202;
    color: #120606;
    width: fit-content;
    margin: 2%;
    border-radius: 35px;
}

.dealerside {
    width: fit-content;
    margin: 2%;
    border-radius: 35px;
    padding: 2%;
    background-color: #d20202;
    color: #120606;
}

.button-bg {
    display: inline-block;
    /* Make the button containers inline-block to allow spacing */
    padding: 5px;
}